@import "_variaveis.scss";

* {
  box-sizing: border-box;
}

@mixin resetMarginPaddign {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

p,
a,
ul,
li,
menu,
label,
input,
footer {
  font-family: $font-nunito;
  @include resetMarginPaddign;
}

body {
  @include resetMarginPaddign;
}
