@import "_variaveis.scss";

* {
  box-sizing: border-box;
}

@mixin resetMarginPaddign {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

a,
ul,
li,
menu,
label,
input,
footer {
  font-family: $font-nunito;
  @include resetMarginPaddign;
}

p {
  font-family: $font-nunito;
}

body {
  @include resetMarginPaddign;
}

.container {
  width: 96%;
  margin-right: auto;
  margin-left: auto;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mt-35 {
  margin-top: 35px;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: $azul;
  color: white;
  width: 50%;
  height: 40px;
  font-family: $font-roboto;
  font-size: 17px;
  font-weight: 500;
  &:hover {
    opacity: 80%;
  }
}

hr {
  height: 2.5px;
  background-color: #eff4f9;
  border: none;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}

.color-azul {
  color: $azul;
}

.color-cinza {
  color: $cinza;
}

@media (min-width: 576px) {
  .container {
    max-width: 534px;
  }
}
